:root {
  --main-background-color: #C4C4C4;
  --second-background-color: #f0f0f0;

  --empty-cell-color: #EEEEEE;
  --wall-cell-color: #C4C4C4;
  --start-cell-color: #38da38;
  --end-cell-color: #e94c4c;

  --intermediate-visited-cell-color: deepskyblue;
  --visited-cell-color: #a1e4fa;
  --solution-cell-color: rgb(255, 227, 67);
  --light-cell-color: #ffffff;
  --heavy-cell-color: #000000;

  --btn-text-color: #3c3c3c;
}

html, body {
  height: calc(100% - 20px);
  margin: 10px 10px;
}

.application {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.options {
  background-color: var(--main-background-color);
  width: 300px;
  height: 100%;
  margin-right: 15px;
  border-radius: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.options h1 {
  text-align: center;
  margin: 0 0;
  font-family: "Source Sans Pro", sans-serif;
}
.options h3 {
  text-align: center;
  margin: 0 0 10px 0;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--btn-text-color);
}

.options button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: medium;
  border: none;
  border-radius: 30px;
  width: 80%;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
  color: var(--btn-text-color);
  background-color: var(--second-background-color);

  justify-content: center;
  text-align: center;
}

.options button:hover {
  background-color: #dcdcdc;
}

.options .btn_start {
  background-color: #71e671;
}

.options .btn_start:hover {
  background-color: var(--start-cell-color);
}

.options .btn_end {
  background-color: #e86363;
}

.options .btn_end:hover {
  background-color: var(--end-cell-color);
}

.board {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.options .solving_speed_div {
  border-radius: 30px;
  background-color: var(--second-background-color);
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.dropdown-content {
  display: none;
  border-radius: 30px;
  max-width: 80%;
  position: absolute;
  left: 10%;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}
.dropdown-content button {
  margin: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.options .stats {
  border-radius: 30px;
  background-color: var(--second-background-color);
  width: 80%;
}

.options .stats p {
  text-align: center;
  margin: 17px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: var(--btn-text-color);
}